{{#each this}}
<div class="card mb-2">
	<div class="card-header card-header-sm"><b>Active Call {{inc @index}} {{@key}}</b>
					<button aria-label="Add Contact" data-key="{{mysip peer}}" class="btn btn-success btn-sm addcontactshort {{contacthide}}" style="margin-top: -2px;">
						<span class="fa fa-user-plus" aria-hidden="true"></span>
					</button>
		<div class="float-right">
					<span class="badge badge-primary">{{state}}</span>
					<button aria-label="Cancel Call" data-key="{{@key}}" class="btn btn-danger btn-sm hangup" style="margin-top: -2px;">
						<i class="fas fa-phone-slash"></i>
					</button>
		</div>
	</div>
	<div class="card-body">
		ID: {{mysip peer}}
		<div id="headphonesbar{{ch}}" class="progress progress-sm"></div>
	</div>
</div>
{{/each}}
