$gray-900: #1e1e1e;
$link-color: #c8c8c8; 
$secondary: #333333;
$progress-height: 0.6rem;
$container-max-widths: (
sm: 550px,
md: 970px,
lg: 980px,
xl: 1140px
);

@import 'theme/variables';
@import '~bootstrap/scss/bootstrap';
@import 'theme/bootswatch';
@import '~shepherd.js/dist/css/shepherd.css';

.card-body {
	padding: 1rem;
}

.card-header {
	padding: 0.5rem 1rem;
}

.card-header-sm {
	padding: 0.25rem 1rem;
}

.progress {
	margin-top: 5px;
}

.main-volume {
	height: 20px;
}

.container {
	padding-right: 10px;
	padding-left: 10px;
}

.form-control {
	background-color: #303030;
	color: #fff;
}

.form-control:focus {
	border-color: #f67e05;
	background-color: #303030;
	color: #fff;
}

.form-control:disabled, .form-control[readonly] {
	background-color: #444444;
	border-color: #444444;
	color: #fff;
}

a:hover {
	text-decoration: none;
}

.modal-content {
	background-color: #171717;
	border: 1px solid #000;
}

#variant {
	font-family: 'Exo 2', sans-serif;
	font-size: 35px;
	vertical-align: middle;
	color: #c7c7c9;	
}

@font-face {
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 500;
        src:
        local('Exo 2 Medium'),
        local('Exo2-Medium'),
        /* from https://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt7bCPs7wHs.eot */
        url('/fonts/Exo_2_500.eot') format('embedded-opentype'),
        /* from https://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt7bCPs7wHk.woff */
        url('/fonts/Exo_2_500.woff') format('woff'),
        /* from https://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt7bCPs7wH8.woff2 */
        url('/fonts/Exo_2_500.woff2') format('woff2'),
        /* from https://fonts.gstatic.com/l/font?kit=7cHrv4okm5zmbt7bCPs7wHg&skey=adb63786cb87541c&v=v4#Exo2 */
        url('/fonts/Exo_2_500.svg') format('svg'),
        /* from https://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt7bCPs7wHo.ttf */
        url('/fonts/Exo_2_500.ttf') format('truetype');
}

